body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #1f2937;
  }

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f9faf8;
    }

  .header .headerlogotext {
    font-size: 24px;
    color: #f9faf8;
  }

  /* section 2 */

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1f2937;
    flex-shrink: 0;
    }

  .text-box h3{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
  }

  .text-box p {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
    max-width: 800px;
    flex-shrink: 1;
  }

  .wrapper .img{
    float: right;
    margin: 150px;
    border-radius: 10px;
  }

  /* all the button work */
  button {
    padding: 0.1em 0.25em;
    width: 20%;
    height: auto;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
  }
  
  .button {
    cursor: pointer;
    padding: 15px;
    border-radius: 400px;
    border: 3px solid #414141;
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: #222222;
    transition: transform 0.3s ease;
  }
  
  .button:hover {
    transform: scale(1.15);
    border: none;
    background: linear-gradient(
      -80deg,
      rgba(150, 93, 233, 1) 10%,
      rgba(99, 88, 238, 1) 95%
    );
  }
  
  .button:active {
    transform: scale(0.95);
  }

  /* third section */

  .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    padding: 40px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    gap: 102px;
    text-align: center;
    padding-bottom: 80px;
  }
  
  .info img{
    max-width: 250px;
  }
  
  .info{
    font-size: 18px;
    text-align: justify;
    max-width: 200px;
    flex-shrink: 1;
  }

  /* Four Section */

  .Quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    text-align: justify;
    padding: 50px;
    padding-bottom: 100px;
  }

  /* Footer */

  .footer {
    position: static;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #1f2937;
    color: #f9faf8;
  }